<div class="fixed w-56 bg-white shadow-md h-screen flex flex-col">
  <div
    class="h-40 p-4 bg-green-500 text-white text-4xl flex justify-start items-end"
  >
    <i aria-hidden="true" class="fa-solid fa-coins pr-4"></i>
    Faturas
  </div>
  <div class="flex grow flex-col py-4 justify-between">
    <ul>
      <li>
        <a href="/dashboard" class="block p-4 hover:bg-sky-100">
          <i aria-hidden="true" class="fa-solid fa-home pr-2"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/dashboard/clientes" class="block p-4 hover:bg-sky-100">
          <i aria-hidden="true" class="fa-solid fa-users pr-2"></i>
          Clientes
        </a>
      </li>
      <li>
        <a href="/dashboard/faturas" class="block p-4 hover:bg-sky-100">
          <i aria-hidden="true" class="fa-solid fa-copy pr-2"></i>
          Faturas
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/logout" class="block p-4 hover:bg-sky-100">
          <i aria-hidden="true" class="fa-solid fa-power-off pr-2"></i>
          Deslogar
        </a>
      </li>
    </ul>
  </div>
</div>
