<!DOCTYPE html>
<html lang="pt-BR">
<%- include('./partials/head') %>
<body>
    <h1 class="text-emerald-500"><%= mensagem %></h1>
    <p class="text-emerald-800">Template: index.ejs</p>
    <button class="btn btn-primary m-2">Pressione aqui</button>
    
</body>
</html>